/* Universal */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

/* Header */
header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 5rem;
  background-image: url("../images/header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  padding-left: 1.5rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  color: #FEFFE8;
  background-color: rgba(65, 71, 85, 0.9);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

nav {
  width: 50%;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: rgba(65, 71, 85, 0.9);
  border-radius: 0.5rem;
}

header ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.3rem;
  list-style: none;
}

header li {
  display: flex inline;
  margin: 0;
  padding: 0;
  color: #F4E8FF;
}

header a {
  color: #F4E8FF;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

header a:hover {
  color: #FEFFE8;
  background-color: rgba(86, 97, 115, 1);
  text-shadow: 0.05rem 0.05rem black;
  box-shadow: 0.1rem 0.1rem black;
  text-decoration: underline;
}

header a:active {
  transform: translate(0.1rem, 0.1rem);
  color: #7C8032;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

/* main */
main {
  position: relative;
  top: 5rem;
}

/* About Me */
#about-me {

  margin: 0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: rgb(86, 97, 115);
}

#about-me h2 {
  font-family: 'Raleway', sans-serif;
  color: #F4E8FF;
}

#about-me img {
  width: 15%;
  align-self: center;
}

#about-me p {
  width: 65%;
  padding: 1rem;
  align-self: center;
  font-family: 'Frank Ruhl Libre', serif;
  color: #FEFFE8;
  background-color: rgb(65, 71, 85);
  box-shadow: 0.2rem 0.2rem black;
}

#about-me p strong {
  color: #BCBF7A;
  text-shadow: 0.1rem 0.1rem black;
}