/* Universal */



html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  width: 12%;
  padding: 0.3rem;
  text-align: center;
}

h2,
h3,
p,
li,
nav,
a {
  border-radius: 0.5rem;
}



/* Header */



header,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 5rem;
  background-image: url("../images/header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  padding-left: 1.5rem;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  color: #FEFFE8;
  background-color: rgba(65, 71, 85, 0.9);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

nav {
  width: 50%;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: rgba(65, 71, 85, 0.9);
}

header ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.3rem;
  list-style: none;
}

header li {
  display: flex inline;
  margin: 0;
  padding: 0;
  color: #F4E8FF;
}

header a {
  color: #F4E8FF;
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

header a:hover {
  color: #FEFFE8;
  background-color: rgba(86, 97, 115, 1);
  text-shadow: 0.05rem 0.05rem black;
  box-shadow: 0.1rem 0.1rem black;
  text-decoration: underline;
}

header a:active {
  transform: translate(0.1rem, 0.1rem);
  color: #7C8032;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
}



/* main (fixed header offset)*/



main {
  position: relative;
  top: 5rem;
}



/* About Me */



#about-me {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  background: linear-gradient(#EFD195, #071215);
}

#about-me h2 {
  width: 12%;
  padding: .3rem 0;
  margin-top: 2.5rem;
  color: #F4E8FF;
  background-color: rgb(65, 71, 85)
}

#about-me img {
  width: 15%;
}

#about-me p {
  width: 65%;
  padding: 1rem;
  margin-bottom: 2.5rem;
  font-family: 'Frank Ruhl Libre', serif;
  color: #FEFFE8;
  background-color: rgb(65, 71, 85);
  box-shadow: 0.2rem 0.2rem 0.5rem black;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  line-height: 1.3rem;
}

#about-me p strong {
  color: #BCBF7A;
  text-shadow: 0.1rem 0.1rem black;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
}



/* Goals */



#goals {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-image: url("../images/goals-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

#goals::before {
  content: ' ';
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.goal-content {
  display: flex;
  align-items: center;
  flex-flow: column;
  color: #414755;
  z-index: 2;
}

.goal-content h2{
  margin-bottom: 0;
  color: #071215;
  background-color: rgba(239, 209, 149, 0.9);
}

.goal-content ol {
  display: flex;
  flex-flow: column;
  margin-left: 3rem;
  margin-right: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  list-style-position: inside;
}

.goal-content li {
  background-color: rgba(239, 209, 149, 0.9);
  margin: 0.3rem;
  padding: 0.1rem 1rem;
}



/* Skills */



#skills {
  position: relative;
  width: 100%;
  height: 40rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  letter-spacing: .2rem;
  text-align: center;
  background: linear-gradient(#071215, #A0A4A4);
  color: #FEFFE8;
}

#skills h2{
  width: 12%;
  position: absolute;
  top: 2rem;
  background-color: rgba(86, 97, 115, 0.8);
}

#skills h3{
  padding: 0.5rem;
  background-color: rgba(86, 97, 115, 0.8);
  box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
  color: #BCBF7A;
}

#skills div {
  position: relative;
  top: 3rem;
  display: flex;
  justify-content: center;
  width: 15%;
  max-height: fit-content;
  padding: 5rem 1rem;
  margin: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skills .break {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

.html {
  background-image: url("../images/HTML.jpeg");
}

.css {
  background-image: url("../images/CSS.jpeg");
}

.javascript {
  background-image: url("../images/JavaScript.jpeg");
}

.c-sharp {
  background-image: url("../images/C-sharp.jpeg");
}

#skills .unity {
  background-image: url("../images/Unity-logo.jpg");
  background-size: auto;
  background-position-y: 75%;
}



/* Projects */



#projects {
  position: relative;
  top: -1.206rem;
  min-height: 50rem;
  background-image: url("../images/projects-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#projects::before {
  content: ' ';
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.project-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.project-content h2 {
  color: #414755;
  background-color: #BCBF7AE6;
}

.project-content h3 {
  color: #071215;
  background-color: #BCBF7AE6;
  padding: 0.3rem 0.5rem;
}

.project-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.project-content li {
  display: flex;
  background-color: #FEFFE8E7;
  width: 25%;
  margin: 1rem;
}

.project-content li:hover {
  background-color: #7C8032;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 0.5rem black;
}

.project-content li:active {
  box-shadow: none;
  transform: translate(0.3rem, 0.3rem);
}

.project-content li:hover a {
  color: #F4E8FF;
}

.project-content li:hover h4{
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
}

.project-content li:active h4{
  text-shadow: none;
}

.project-content a {
  color: #875FAA;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0 1rem;
}

.project-content a h4 {
  text-decoration: underline;
}

.project-content a p {
  color: #071215;
}



/* Footer */



footer {
  position: relative;
  top: 3.8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: linear-gradient(#A0A4A4, #FEFFE8)
}

footer h2 {
  width: 20%;
  margin: 1.5rem 0 0;
  padding: 0.3rem;
  color: #071215;
  background-color: #7C8032E1;
}

footer h3 {
  margin: 1rem;
}

footer .links {
  background-color: #414755;
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
}

footer a {
  color: #BCBF7A;
}

footer a:hover {
  color: #875FAA;
  text-decoration: none;
}

footer a:active {
  color: #F4E8FF;
}